<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RPNTrafficControl.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <RPNTrafficControl.Properties.Settings>
            <setting name="StartTime" serializeAs="String">
                <value>03:30 AM</value>
            </setting>
            <setting name="StopTime" serializeAs="String">
                <value>10:30 PM</value>
            </setting>
            <setting name="OBSExeLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="IsStartupEnabled" serializeAs="String">
                <value>True</value>
            </setting>
        </RPNTrafficControl.Properties.Settings>
    </userSettings>
</configuration>